---
firefox:
  extensions:
    - https://addons.mozilla.org/firefox/downloads/file/3616824/foxyproxy_standard-7.5.1-an+fx.xpi # FoxyProxy Standard
    - https://addons.mozilla.org/firefox/downloads/file/3343599/cookie_quick_manager-0.5rc2-an+fx.xpi # Cookie quick manager
    - https://addons.mozilla.org/firefox/downloads/file/3769639/user_agent_switcher_and_manager-0.4.7.1-an+fx.xpi # User-Agent switcher

sshkey_touchfile: /etc/ssh/sshkeys-regenerated

dotfiles:
  dir: "{{ homedir }}/.dotfiles"
  repo: "https://github.com/camercu/dotfiles"

pip:
  install:
    - ansible # automated configuration tool
    - uv # pip replacement, allows multiple python versions

apt:
  pre_install: # required to add new apt repos/signing keys
    - apt-transport-https # https support for apt
    - curl # also an autorecon and pyenv dependency
    - gnupg2 # free PGP replacement
    - gpg # free PGP replacement
    - software-properties-common # repo manager

  # dependencies for .NET 12.x
  # https://learn.microsoft.com/en-us/dotnet/core/install/linux-debian?tabs=dotnet9#dependencies
  # https://learn.microsoft.com/en-us/dotnet/core/install/linux-ubuntu-decision#dependencies
  dotnet_deps:
    - ca-certificates
    - libc6
    - libgcc-s1
    - libgssapi-krb5-2
    - libicu74
    - liblttng-ust1
    - libssl3
    - libstdc++6
    - zlib1g

  install:
    - build-essential # C compiling tools
    - code # VSCode
    - docker-doc # docker documentation
    - docker.io # docker containers
    - dos2unix # fix line endings
    - fd-find # blazing-fast replacement for find command (in Rust)
    - flameshot # screenshot tool
    - fzf # dependency for custom hashcat mode finder
    - gdb # GNU Debugger
    - git # version control
    - jq # JSON query tool for cli
    - make # code build tool
    - ncat # better netcat, with ssl support
    - neovim # best CLI text editor
    - nmap # autorecon dependency
    - openresolv # required for wireguard
    - openvpn # most common VPN for connecting to hacking sites
    - p7zip-full # 7zip compression tools
    - perl # scripting language
    - pipx # python executable installer
    - python3-dev # pwntools dependency
    - python3-pefile # Windows PE (exe) parser
    - python3-pip # python package manager
    - python3-scapy # custom packet crafting
    - python3-setuptools # for building/installing python packages
    - python3-venv # python virtual environments
    - ripgrep # blazing-fast replacement for grep (written in Rust)
    - rsync # faster way to scp files, only syncing changes
    - tcpdump # command line packet capture
    - terminator # best terminal emulator
    - tmux # terminal multiplexer
    - tree # view file tree in cmdline
    - vim # great CLI text editor
    - wget # http requests
    - wireguard # fastest VPN tunnel
    - wireshark # packet capture
    - xclip # X-clipboard commandline tool
    - xh # better curl alternative
    - xxd # hexdump tool
    - zsh # better shell

go:
  version_url: https://golang.org/VERSION?m=text

ohmyzsh:
  install_url: https://raw.github.com/ohmyzsh/ohmyzsh/master/tools/install.sh
  dir: "{{ homedir }}/.oh-my-zsh"

gcm: # git-credential-manager
  deb_url_prefix: "https://github.com/git-ecosystem/git-credential-manager/releases/download"
  release_api_url: "https://api.github.com/repos/git-ecosystem/git-credential-manager/releases/latest"

vscode:
  extensions:
    - bbenoist.vagrant # vagant VM tools
    - eamodio.gitlens # best git tools
    - golang.go # go language server
    - hashicorp.terraform # terraform/HCL language server
    - infosec-intern.snort # snort-rules language server
    - mesonbuild.mesonbuild # meson (build) language support
    - ms-azuretools.vscode-docker # docker tools
    - ms-python.python # python extensions
    - ms-python.vscode-pylance # best python language server
    - ms-toolsai.jupyter # jupyter notebooks
    - ms-vscode-remote.vscode-remote-extensionpack # ssh/WSL/docker dev
    - ms-vscode.cpptools-extension-pack # C/C++ dev tools
    - ms-vscode.makefile-tools # Makefiles
    - ms-vscode.powershell # PowerShell language server
    - redhat.ansible # ansible language server
    - redhat.vscode-yaml # YAML language server
    - rust-lang.rust-analyzer # best rust language server
    - tamasfe.even-better-toml # TOML language server
    - vscjava.vscode-java-pack # microsoft's java extension pack
    - vscode-icons-team.vscode-icons # better icons
    - vscodevim.vim # vim emulation
    - yzhang.markdown-all-in-one # markdown editing tools
    - zhuangtongfa.material-theme # one dark pro theme
