---
firefox:
  extensions:
    - https://addons.mozilla.org/firefox/downloads/file/3616824/foxyproxy_standard-7.5.1-an+fx.xpi # FoxyProxy Standard
    - https://addons.mozilla.org/firefox/downloads/file/3343599/cookie_quick_manager-0.5rc2-an+fx.xpi # Cookie quick manager
    - https://addons.mozilla.org/firefox/downloads/file/3769639/user_agent_switcher_and_manager-0.4.7.1-an+fx.xpi # User-Agent switcher

sshkey_touchfile: /etc/ssh/sshkeys-regenerated

dotfiles:
  dir: "{{ homedir }}/.dotfiles"
  repo: "https://github.com/camercu/dotfiles"

pip:
  install:
    - black # autoformat code nicely
    - httpie # better curl alternative
    - paramiko # ssh communication
    - pip # python package manager, needs updating regularly
    - pipx # get CLI tools from pip
    - pytest # unit testing
    - requests # easy scripting of http requests
    - tabulate # pretty text tables

apt:
  pre_install: # required to add new apt repos/signing keys
    - apt-transport-https
    - curl # also an autorecon and pyenv dependency
    - gnupg2 # free PGP replacement
    - gpg # free PGP replacement
    - software-properties-common # repo manager

  install:
    - build-essential # pyenv dependency
    - code # VSCode
    - docker-doc # docker documentation
    - docker.io # docker containers
    - fd-find # blazing-fast replacement for find command (in Rust)
    - flameshot # screenshot tool
    - fzf # dependency for custom hashcat mode finder
    - gdb # GNU Debugger
    - gdb-peda # more friendly gdb display/commands
    - git # version control
    - jq # JSON query tool for cli
    - libbz2-dev # pyenv dependency
    - libffi-dev # pyenv dependency
    - liblzma-dev # pyenv dependency
    - libncursesw5-dev # pyenv dependency
    - libreadline-dev # pyenv dependency
    - libsqlite3-dev # pyenv dependency
    - libssl-dev # pyenv dependency
    - libxml2-dev # pyenv dependency
    - libxmlsec1-dev # pyenv dependency
    - llvm # pyenv dependency
    - make # pyenv dependency
    - ncat # better netcat, with ssl support
    - nmap # autorecon dependency
    - openresolv # required for wireguard
    - openvpn # most common VPN for connecting to hacking sites
    - perl # scripting language
    - python3-dev # pwntools dependency
    - python3-pefile # Windows PE (exe) parser
    - python3-pip # python package manager
    - python3-scapy # custom packet crafting
    - python3-setuptools # for building/installing python packages
    - python3-venv # python virtual environments
    - ripgrep # blazing-fast replacement for grep (written in Rust)
    - rsync # faster way to scp files, only syncing changes
    - tcpdump # command line packet capture
    - terminator # best terminal emulator
    - tk-dev # pyenv dependency
    - tmux # terminal multiplexer
    - tree # view file tree in cmdline
    - vim # best CLI text editor
    - wget # pyenv dependency
    - wireguard # fastest VPN tunnel
    - wireshark # packet capture
    - xclip # X-clipboard commandline tool
    - xz-utils # pyenv dependency
    - zlib1g-dev # pyenv dependency
    - zsh # better shell

go:
  version_url: https://golang.org/VERSION?m=text

pyenv:
  root: "{{ homedir }}/.pyenv"
  repo_url: "https://github.com/pyenv/pyenv"
  release_api_url: >-
    https://api.github.com/repos/pyenv/pyenv/releases/latest
  python_ver: 2.7.18

ohmyzsh:
  install_url: https://raw.github.com/ohmyzsh/ohmyzsh/master/tools/install.sh
  dir: "{{ homedir }}/.oh-my-zsh"

vscode:
  extensions:
    - bbenoist.vagrant # vagant VM tools
    - eamodio.gitlens # best git tools
    - golang.go # go language server
    - hashicorp.terraform # terraform/HCL language server
    - infosec-intern.snort # snort-rules language server
    - matklad.rust-analyzer # best rust language server
    - mesonbuild.mesonbuild # meson (build) language support
    - ms-azuretools.vscode-docker # docker tools
    - ms-python.python  # python extensions
    - ms-python.vscode-pylance # best python language server
    - ms-toolsai.jupyter # jupyter notebooks
    - ms-vscode-remote.vscode-remote-extensionpack # ssh/WSL/docker dev
    - ms-vscode.cpptools-extension-pack # C/C++ dev tools
    - redhat.ansible # ansible language server
    - redhat.vscode-yaml # YAML language server
    - tamasfe.even-better-toml # TOML language server
    - vscjava.vscode-java-pack # microsoft's java extension pack
    - vscode-icons-team.vscode-icons # better icons
    - vscodevim.vim # vim emulation
    - yzhang.markdown-all-in-one # markdown editing tools
    - zhuangtongfa.material-theme # one dark pro theme
