---
- name: "Install pentest apt packages: {{ apt.install | join(', ') }}"
  ansible.builtin.apt:
    name: "{{ apt.install }}"
    state: latest
    update_cache: true
  tags:
    - apt
    - update
    - pentest

- name: "Install python packages: {{ pip.install | join(', ') }}"
  become_user: "{{ user }}"
  ansible.builtin.pip:
    name: "{{ pip.install }}"
    state: latest
  tags:
    - pip
    - update
    - pentest

- name: "Download SNMP MIBs"
  ansible.builtin.command:
    cmd: /usr/bin/download-mibs
    creates: /usr/share/snmp/mibs/NET-SNMP-EXTEND-MIB.txt
  tags:
    - snmp